@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* #searchModalPage .page__content{
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

#crossModalPage .page__content{
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

#imageModalPage .page__content{
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}}

#imageInfoModal .page__content{
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
} */

.page--full_bg__background {
	background-image: url('../images/m_main_bg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.notosanskr { font-family: 'Noto Sans KR', sans-serif !important; }

.notosanskr-m {
	font-family: 'Noto Sans KR', sans-serif !important;
	font-size: 25px;
	font-weight: 500;
}

.notosanskr-b { 
	font-family: 'Noto Sans KR', sans-serif !important;
	font-size: 25px;
	font-weight: 700;
}

ons-fab.fab.active, ons-speed-dial-item.fab.active, button.fab.active {
	background-color: #00ff1f;
}

table.preview-table {
	background: rgba(0,0,0,0.4);
    color: rgba(255,255,255,.8);
	border: 1px solid rgba(0,0,0,.8);
	border-spacing: 0;
}

table.preview-table tr:first-child td{
	border-top: none;
}

table.preview-table tr td{
	border-top: 1px solid rgba(0,0,0,.8);
}

table.preview-table tr th:first-child, table.preview-table tr td:first-child {
	border-left: none;
}

table.preview-table tr th, table.preview-table tr td {
	border-left: 1px solid rgba(0,0,0,.8);
}